html,body,div,span,ul,li,p,em,i,b,head,footer,section,article,
h1,h2,h3,h4,h5,h6,strong,a { padding: 0; margin: 0}

body {
    max-width: 640px;
    margin: 0 auto;
}
.st {
	color: #ffffff;
	font-size: 32px;
}
#st_word {
	position:absolute;
	margin-top: -389px;
	margin-left: 202px;
	font-family: '微软雅黑';
}

#background {
	position: relative;
}
#startBtn {
	position: absolute;
	margin-top: -257px;
	margin-left: 175px;
}
#copyright {
	position: absolute;
	margin-top: -32px;
	margin-left: 221px;
}
#copyright span {
	color: #752e25 ;
	font-size: 20px;
}