@CHARSET "UTF-8";

/* CSS Document */
body {
	background-repeat: no-repeat;
	background-size: 600px, 276px;
	font-family: Microsoft YaHei;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#page {
	width: 276px;
	height: 600px;
}

.grayscale {
	position: absolute;
	z-index: -1;
	margin: 0px;
	border: 0px;
	padding: 0px;
	height: 585px;
	width: 276px;
}

.postFile {
	width: 90px;
	height: 160px;
	background: no-repeat center;
	background-image: url(../../image/index/logo.jpg);
	background-size: 100% 100%;
	cursor: pointer;
	display: block;
	font-size: 40px;
	line-height: 0;
	position: absolute;
	margin-left: 160px;
	margin-top: 400px;
	text-align: center;
}

.charater {
	position: absolute;
	width: 185px;
	height: 350px;
	background: no-repeat center;
	cursor: pointer;
	display: block;
	font-size: 40px;
	line-height: 0;
	margin-left: 165px;
	margin-top: 40px;
	text-align: center;
}

.userphoto {
	position: absolute;
	margin-top: 40px;
	border: 0px;
	padding: 0px;
	height: 350px;
	width: 225px;
}

.shuli {
	margin: 0 auto;
	width: 68px;
	line-height: 38px;
	margin-top: 22px;
	font-family: myFirstFont;
}

@font-face {
	font-family: myFirstFont;
	src: url(../../ziti.ttf);
}

#contents {
	margin-left: 5%;
	position: relative;
	margin-top: 60%;
	font-size: 38px;
	font-weight: bolder;
	bottom: 25px;
	color: RGB(291, 74, 18);
}

#contendBody {
	font-size: 28px;
	font-weight: lighter;
}

#contendFoot {
	font-size: 27px;
	font-weight: bolder;
}

#url {
	width: 80px;
	height: 80px;
	position: absolute;
	left: 210px;
	bottom: 38px;
}